#hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 10px;
  display: flex;
  margin-right: 40px;
  word-spacing: 2px;
  justify-content:space-around;
  font-weight: bold;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fdf6e3;
  color: black;
  margin: 0;
  padding: 2rem;
  list-style: 1.6;
}
h1,
h2{
  text-align: center;
  color: #5a3e1b;
}
p{
text-align: center;
}
.treasure hidden{
  opacity: 0;
}

.treasure {
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
}

.hidden::before {
  content: "💎";
  display: none;       /* helt osynlig, inget mellanrum */
}

.hidden:hover::before {
  display: inline;     /* dyker upp först på hover */
}

.found {
  opacity: 1;
  filter: grayscale(100%);
  color: goldenrod;
  text-shadow: 0 0 8px gold;
}
footer {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  text-align: center;
  font-style: italic;
}
